.footer__column-link {
  color: var(--contrast-font);
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.footer__column-link:hover {
  opacity: 0.3;
  transition: opacity 0.2s;
}
